.manga-chapter-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 400px;
    overflow-y: auto;
}

.manga-chapter-list .chapter {
    padding: 8px 12px;
    background-color: var(--manga-bg-secondary-alt);
    border-radius: var(--manga-button-radius);
    border-left: 4px solid var(--manga-interactive-accent);
    cursor: pointer;

    @media (max-width: 768px) {
        padding: 12px 12px;
    }
}