body {
    /* Не помню точно где использую, возможно нигде */
    --manga-max-width: 100%;

    /* === Базовый маппинг на Obsidian токены === */
    --manga-bg-primary: var(--background-primary);
    --manga-bg-primary-alt: var(--background-primary-alt);
    --manga-bg-secondary: var(--background-secondary);
    --manga-bg-secondary-alt: var(--background-secondary-alt);
    --manga-bg-modifier: var(--background-modifier-border);
    
    --manga-text-normal: var(--text-normal);
    --manga-text-muted: var(--text-muted);
    --manga-text-link: var(--text-link);
    
    --manga-interactive-accent: var(--interactive-accent);
    --manga-interactive-accent-hover: var(--interactive-accent-hover);
    
    --manga-border: var(--background-modifier-border);

    --manga-border-radius-1: 3px;
    --manga-border-radius-2: 5px;
    --manga-border-radius-3: 7px;
    --manga-border-radius-4: 9px;

    /* Что то в мобильном мне не нравятся супер скругления */
    /* Поэтому будет делать на своих значениях */
    --manga-button-radius: var(--manga-border-radius-2);
    /* --manga-button-radius: var(--input-radius);  */

    @media (max-width: 768px) {
        --manga-button-radius: var(--manga-border-radius-4);
    }
    

    --manga-h1-color: var(--h1-color);

    --manga-modal-footer-padding: var(--size-4-4);
}

/* Обнуляем отступы безопасной зоны Obsidian в полноэкранном режиме */
body.is-manga-plugin-active .is-mobile .workspace > .mod-root,
body.is-manga-plugin-active .workspace-split.mod-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

/* убираем нижнюю панель Obsidian на мобилках */
/* Только в моментах, когда активен ридер */
body.is-reader-active .mobile-navbar.mod-raised {
    display: none !important;
}