# Зависимости (их качаем через npm install, хранить их в Git не надо)
node_modules/
/.vscode

# Результат сборки
main.js
styles.css

# Системные файлы Obsidian (там твои личные настройки темы, горячих клавиш и т.д.)
.obsidian/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Логи ошибок
npm-debug.log*

# Файл сохранений
data.json

# Резюме по работе с нейросетями
/plans
/.kilo

# Что то новое от мультиаккаунтов в vscode
github-accounts.json