# Зависимости (их качаем через npm install, хранить их в Git не надо)
node_modules/

# Результат сборки (он генерируется автоматически, в истории не нужен)
main.js

# Системные файлы Obsidian (там твои личные настройки темы, горячих клавиш и т.д.)
.obsidian/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Логи ошибок
npm-debug.log*